<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hvantage.b4eemp">
    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    -->

    <!--
        android:name=".MainApplication"
    -->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dialog.AllotBookingDialog"
            android:theme="@style/AppDialogTheme"></activity>

        <activity android:name=".activity.TCActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="lauch.TCActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginPage"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyATDVifYGbH8bO0HKlaVBk8lYiWUq1ausk" />-->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.BookingActivity"
            android:label="@string/title_activity_booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.IssueActivity"
            android:label="@string/title_activity_issue"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login_page"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".utils.MySMSBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".fcm.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".tracking.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tracking.DevicesActivity"
            android:label="@string/devices_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tracking.SendCommandActivity"
            android:label="@string/send_command_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".utils.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- Register the Time and Alarm Service -->
        <service android:name=".utils.TimeService"></service>
        <service android:name=".utils.AlarmService"></service>
    </application>

</manifest>